header img {
    max-width: 300px;
}

section.images {
    text-align: center;
}

section.images img,
section.coverage-map img {
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

section.coverage-map {
    text-align: center;
}

section.coverage-map img {
    max-width: 1000px;
}

section.images a {
    text-decoration: none;
    margin: 15px;
    display: inline-block;
}

section.images img {
    max-width: 200px;
    max-height: 143px;
}

body {
    margin-top: 20px;
    margin-bottom: 20px;
}